<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Add a new entry</h3>
      <form ng-submit="saveEntry(newEntry)">
        <div class="form-group">
          <label>
            Date
            <input class="form-control date-picker" type="text" placeholder="Date" ng-model="newEntry.datetime" options="{timePicker: true, singleDatePicker: true}" date-range-picker>
          </label>
        </div>
        <div class="form-group">
          <label>
            Text
            <input class="form-control" type="text" placeholder="Text" ng-model="newEntry.text">
          </label>
        </div>
        <div class="form-group">
          <label>
            Calories
            <input class="form-control" type="number" placeholder="Calories" ng-model="newEntry.calories">
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
    <div class="col-md-4" ng-if="entries.length">
      <h3>Entries</h3>
      <ul class="entries">
        <li ng-repeat="entry in entries">
          <span>{{ entry.datetime }}</span>
          <span>{{ entry.text }}</span>
          <span>{{ entry.calories }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>