<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Search Entries</h3>

      <form ng-submit="search(searchRange)">
        <div class="form-group">
          <label>
            Date
          </label>
          <input class="form-control date-picker" type="text" ng-model="searchRange" options="dateRangeOptions" date-range-picker>

        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover" ng-show="days">
        <tr>
          <th>Date</th>
          <th>Total Calories</th>
        </tr>
        <tbody>
        <tr ng-repeat="day in days" class="repeated-item">
          <td>{{ day[0] | date:'shortDate'}}</td>
          <td class="calories" ng-class="{danger: (day[1] > currentUser.daily_calories), success: (day[1] <= currentUser.daily_calories)}">{{ day[1] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>