<!DOCTYPE html>
<html lang="en" ng-app="caloricApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Caloric</title>



  <!-- AngularJS -->
  <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular-route.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular-resource.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular-lodash.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular-animate.min.js') }}"></script>
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/daterangepicker-bs3.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular-daterangepicker.min.js') }}"></script>

  <script src="{{ url_for('static', filename='app/js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='app/js/constants.js') }}"></script>
  <script src="{{ url_for('static', filename='app/js/services.js') }}"></script>
  <script src="{{ url_for('static', filename='app/js/controllers.js') }}"></script>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>


<body ng-controller="AppCtrl">


<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Caloric</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-show="currentUser !== null">
        <li><a href="#/entries">Entries</a></li>
        <li><a href="#/settings">Settings</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="currentUser"><button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>></li>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>

<div ng-view>


</div>

<hr>

<footer>
  <p>&copy; Marcus McCurdy 2014</p>
</footer>


</body>
</html>